body {
  background-color: #f8f9fa;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  width: 480px;
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
  background-color: #f0f0f01a;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.form-group {
  margin-bottom: 25px;
}

label {
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button.btn-primary {
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #007bff;
  border: none;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

button.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.result {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p {
  margin: 10px 0;
}

span {
  font-weight: bold;
  color: #008000; /* Green color for correct answers */
}
