"node_modules/" 
"package.json" 
"node_modules/" 
"package.json" 
TaskManagement/node_modules/
TaskManagement/package.json 
TaskManagement/package-lock.json 
productManagement/node_modules/ 
productManagement/package.json 
productManagement/package-lock.json
githubTracker/node_modules/ 
githubTracker/package.json 
githubTracker/package-lock.json
QuizApp/node_modules/ 
QuizApp/package.json 
QuizApp/package-lock.json