"node_modules/" 
TaskManagement/node_modules/
productManagement/node_modules/ 
githubTracker/node_modules/ 
QuizApp/node_modules/ 
flipKartServer/node_modules/ 
CarRentalApp/node_modules/ 
E-auction/node_modules/ 
travelmemoryapp/node_modules/ 